$amarelo: #FFC756;
$laranja: #F66139;
$lilas: #7F8FFE;
$verde: #56B78C;
$cinza_claro: #D9D9D9;
$cinza_escuro: #959595;
$preto: black;
$branco: white;

* {
  box-sizing: border-box;
}

:root {
  /*cores*/
  --amarelo: $amarelo;
  --laranja: $laranja;
  --lilas: $lilas;
  --verde: $verde;
  --cinza-claro: $cinza_claro;
  --cinza-escuro: $cinza_escuro;

  /*fontes*/
  --fonte-primaria: 'Work Sans', sans-serif;
  --fonte-secundaria: 'Fjalla One', sans-serif;
}

body {
  font-family: var(--fonte-primaria);
  height: 100vh;
}

/*Estilos compartilhados*/
@mixin font_secundaria_config {
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--fonte-secundaria);
}

img {
  opacity: 1;
  transition: 0.5s;

  &:hover {
    opacity: 0.7;
  }
}


/* Header */

.menu {
  background-color: $preto;
  font-family: var(--fonte-secundaria);
  font-size: 16px;
  height: 258px;
  padding: 0 1.5rem;
  white-space: nowrap;
}

.menu__titulo {
  background-image: url("../img/logo-branco-maior.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 100px;
  width: 100%;
  cursor: pointer;
}

.menu__pesquisar {
  width: 100%;
  height: 40px;
  border: 2px solid $branco;
  border-radius: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.menu__input {
  color: $branco;
  background-color: $preto;
  background-image: url("../img/icone-busca.png");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 16px;
  border: none;
  outline: none;
  width: 98%;
  line-height: 25px;
  padding-left: 5px;
}

.menu__item {
  a {
    transition: .5s;
    color: $branco;
    text-decoration: none;

    &:hover {
      color: var(--amarelo);
    }
  }

  &:nth-child(4)::before {
    padding-right: 8px;
    content: url("../img/icone-gps.png");
    cursor: pointer;
    transition: 3.3s;
  }

  &:nth-child(4)::after {
    padding-left: 8px;
    content: url("../img/icone-seta.png");
    cursor: pointer;
    transition: 3.3s;
  }

  &:nth-child(4)::after:hover {
    background-color: var(--amarelo);
  }

  &:nth-child(4)::before:hover {
    background-color: var(--amarelo);
  }
}

/*main*/

.principal {
  padding: 0 1.5rem;
}

/*banner*/
.banner {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*categorias*/
.categorias {
  margin-top: 1.5rem;
}

.categorias__titulo {
  margin-bottom: 1rem;
  @include font_secundaria_config();
}

.categorias__lista {
  color: $branco;
  text-align: center;
}

.categorias__item {
  padding: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
  opacity: 1;
  min-width: 282px;

  &:hover {
    opacity: 0.7;
  }

  &:nth-child(1) {
    background-color: var(--amarelo);
  }

  &:nth-child(5) {
    background-color: var(--amarelo);
  }

  &:nth-child(2) {
    background-color: var(--laranja);
  }

  &:nth-child(6) {
    background-color: var(--laranja);
  }

  &:nth-child(3) {
    background-color: var(--lilas);
  }

  &:nth-child(7) {
    background-color: var(--lilas);
  }

  &:nth-child(4) {
    background-color: var(--verde);
  }

  &:nth-child(8) {
    background-color: var(--verde);
  }
}


.destaques {
  padding: 30px 0 10px;
  white-space: nowrap;
  @include font_secundaria_config();
}

.destaques__titulo {
  margin: 1rem 0;
}

.destaques__barra {
  width: 131px;
  height: 2px;
  background-color: $preto;
}

.categorias__destaques {
  img:last-of-type {
    padding-left: 10px;
  }
}

.categorias__imagem {
  margin-bottom: 1.5rem;
  background-image: url("../img/destaques-360.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 271px;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    opacity: 0.7;
  }
}


/* Eventos */

.eventos__titulo {
  margin-bottom: 1rem;
  @include font_secundaria_config();
}

.eventos__item {
  background-color: var(--cinza-claro);
  width: 307px;
  padding-bottom: 1rem;
  height: 318px;

  img {
    width: 100%;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    padding-left: 1rem;
  }

  h4 {
    font-size: 16px;
    padding-left: 1rem;
  }

  h5 {
    padding-left: 1rem;
  }

  button {
    outline: none;
    border: none;
    background-color: $preto;
    color: $branco;
    margin-right: 1rem;
    text-align: center;
    padding: .5rem 0;
    width: 80px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: var(--amarelo);
    }
  }
}

.eventos__botao {
  button {
    outline: none;
    border: none;
    background-color: $preto;
    color: $branco;
    padding: .75rem 0;
    width: 148px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: var(--amarelo);
    }
  }
}

/*Agenda*/

.agenda__botao {
  button {
    outline: none;
    border: none;
    background-color: $preto;
    color: $branco;
    padding: .75rem 0;
    width: 148px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: var(--amarelo);
    }
  }
}

.agenda__titulo {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  @include font_secundaria_config();
}

.agenda__item {
  background-color: var(--cinza-claro);

  img {
    width: 100%;
  }
}

.agenda__informacoes {
  text-align: center;
  background-color: var(--cinza-escuro);
  color: $branco;
  text-transform: uppercase;
  padding-top: 1rem;

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.5rem;
  }
}

.agenda__atracao {
  text-align: center;
  padding: 1rem;

  h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  button {
    outline: none;
    border: none;
    background-color: $preto;
    color: $branco;
    padding: .5rem 0;
    width: 125px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-color: var(--amarelo);
    }
  }
}

/* Footer */

.rodape {
  color: var(--cinza-claro);
  background-color: $preto;
  margin: 1rem 0;
  font-size: 14px;
  font-family: var(--fonte-primaria);
  padding: 1rem 1.5rem;
  line-height: 2;
  white-space: nowrap;
}

.rodape__lista {
  width: 135px;
}

.rodape__titulo {
  font-size: 18px;
  font-family: var(--fonte-secundaria);
}

.rodape__logo {
  font-size: 12px;

  h4 {
    background-image: url("../img/logo_rodape.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
  }
}


@media(min-width: 720px) {

  /* Header */
  .menu {
    height: 217px;
  }

  .menu__titulo {
    width: auto;
    padding: 40px 55px;
  }

  .cabecalho__seu-local {
    &::before {
      padding-right: 8px;
    }

    &::after {
      padding-left: 15px;
    }
  }

  .menu__pesquisar {
    width: 312px;
  }

  /*main*/

  .principal {
    padding: 0 2.5rem;
  }

  /* Categorias */
  .categorias__lista {
    height: 304px;
  }

  .destaques__barra {
    width: 417.96px;
  }

  .categorias__imagem {
    background-image: url("../img/apresentacao-720.png");
  }

  /* Agenda */

  .agenda__item {
    width: 308px;
  }

  /* Rodapé */

  .rodape {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

}

@media(min-width: 1440px) {

  /* Header */
  .menu {
    height: 100px;
    font-size: 20px;
    padding: 0 7.5rem;
  }

  .menu__titulo {
    background-image: url("../img/logo-branco-menor.png");
    padding: 43px 55px;
  }

  .menu__pesquisar {
    width: 384px;
    margin-bottom: 0;
  }

  .menu__input {
    padding-left: 15px;
  }

  /*main*/

  .principal {
    padding: 0 7.5rem;
  }

  /*categorias*/
  .categorias {
    margin-bottom: 1.5rem;
  }

  .categorias__titulo {
    margin-bottom: 0;
  }

  .destaques {
    padding: 0;

    .destaques__barra {
      width: 416px;
    }
  }


  .categorias__imagem {
    height: 224px;
    margin-bottom: 0;
    background-position-y: bottom;
  }

  /*Eventos*/

  .eventos__item {
    width: 280px;
  }

  /*Agenda*/

  .agenda__item {
    width: 330px;
  }

  /* Rodapé */

  .rodape {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }

}